<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Sensor</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="serial_data">
    <div class="container">
        <div class="datos">
            <h1>Datos del Sensor</h1>
            <p class="distancia">{{ distancia }}</p>
        </div>
        <div>
            <h2>Status</h2>
            <p class="status">{{status}}</p>
        </div>
    </div>
</body>
</html>